<?xml version="1.0" encoding="UTF-8"?>
<!-- scan="true"配置文件改变时自动扫描，默认一分钟扫描一次配置文件 -->
<configuration scan="true">

    <!--
        %p:输出优先级，即DEBUG,INFO,WARN,ERROR,FATAL
        %r:输出自应用启动到输出该日志讯息所耗费的毫秒数
        %t:输出产生该日志事件的线程名
        %f:输出日志讯息所属的类别的类别名
        %c:输出日志讯息所属的类的全名
        %d:输出日志时间点的日期或时间，指定格式的方式： %d{yyyy-MM-dd HH:mm:ss}
        %l:输出日志事件的发生位置，即输出日志讯息的语句在他所在类别的第几行。
        %m:输出代码中指定的讯息，如log(message)中的message
        %n:输出一个换行符号
    -->
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
    <property name="LOG_COMMON_PATTERN" value="%d [%level] [%X{TRACE_ID}] %logger{36} - %replace(%msg){'^(.{5000}).*$', '$1'}%n"/>

    <!-- 日志文件路径 -->
    <springProperty name="LOG_HOME" source="log.app.home" defaultValue="/home/tomcat/logs/spring-prometheus"/>

    <!-- 日志文件大小,超过这个大小将被压缩 -->
    <property scope="context" name="LOG_MAX_SIZE" source="log.maxsize" value="100MB"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_COMMON_PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- INFO OR Greater-->
    <appender name="FILE_APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天轮转 -->
            <fileNamePattern>${LOG_HOME}/app/app.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- 保存30天的历史记录，最大大小为3GB -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
            <!-- <maxFileSize>${LOG_MAX_SIZE}</maxFileSize>-->
        </rollingPolicy>
        <!--定义输出格式-->
        <encoder>
            <pattern>${LOG_COMMON_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- WARN and ERROR -->
    <appender name="FILE_EXCEPTION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${LOG_HOME}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/error/error-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <maxHistory>100</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <MaxFileSize>${LOG_MAX_SIZE}</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_COMMON_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 日志打印级别 -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE_APP" />
        <appender-ref ref="FILE_EXCEPTION"/>
    </root>
</configuration>